// HEADINGS ******************************
.heading-l1-default {
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0%;
    font-size: 200px;
    line-height: 160px;
    text-transform: uppercase;
}

// TITLES ******************************
.title-l1-default {
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0%;
    font-size: 64px;
    line-height: 80%;
    text-transform: uppercase;
}
.title-l2-default {
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0%;
    font-size: 48px;
    line-height: 80%;
    text-transform: uppercase;
}
.title-l3-default {
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0%;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
}

// TEXT ******************************
.text-l1-default {
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0%;
    font-size: 18px;
    line-height: 150%;
}
.text-l1-allcaps-24ls {
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 24%;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
}
.text-l2-default {
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0%;
    font-size: 14px;
    line-height: 150%;
}
.text-l2-allcaps {
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 5%;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
}


// TEXT COLORS ******************************
.brand-default-color-text {
    background-image: $color-brand-default;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.neutrals-600-color-text {
    color: $color-neutrals-600;
}
.neutrals-900-color-text {
    color: $color-neutrals-900;
}