// BRAND
$color-brand-default: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
$color-brand-hover: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
$color-brand-light: #E5F0FF;
$color-brand-light-blue: #CCE1FF;

// NEUTRALS
$color-neutrals-900: #252F3D;
$color-neutrals-600: #7C899C;
$color-neutrals-500: #8FA3BF;
$color-neutrals-300: #DAE4F2;
$color-neutrals-200: #E6EDF7;
$color-neutrals-100: #F5F9FF;
$color-neutrals-0: #FFFFFF;

// COMMON
$color-green-default: #29CC74;
$color-green-light: #CCFFE3;
$color-red-default: #E07F4F;
$color-red-light: #FFDFD9;

// SPECIALS
$color-illustration-bg: linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%);
$color-section-bg: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
$color-aerolab: linear-gradient(180deg, #FF8800 0%, #FF6600 100%);
